In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
mlc_df=pd.read_csv("C:/Users/iulia/Documents/NSS/projects/mlc-project-pythons-on-a-plane/data/MLC_data.csv")

In [4]:
mlc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0    ISRC                                      98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  int64
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 9.9+ MB

In [5]:
mlc_df.isnull().sum()

 ISRC                                        1760
Country Code                                 1697
Registrant Code                              1697
Year of Reference                            1761
Usage Period                                 8102
Streaming Platform (DSP)                     3999
Streams                                         0
Recording Artist                                0
Recording Label                              1008
Recording Title                                 0
Release Title                                  69
Recording Duration (Seconds)                    0
Songwriter's Listed (1 = "Yes", 0 = "No")       0
dtype: int64

In [6]:
mlc_df.head()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
0,1.95E+11,19,492,33.0,1/1/2021,Spotify,13620,MARINA,Atlantic Records,Man's World,Man's World (MUNA Remix),209,1
1,1.96E+11,19,575,70.0,5/1/2021,Pandora,12160,Chris Webby,EightyHD,Quarantine (Freeverse),Quarantine (Freeverse),160,1
2,8.60E+11,85,971,57.0,4/1/2021,Amazon,2451,Parry Gripp,Parry Gripp,The Girl at the Videogame Store,Parry Gripp Mega-Party (2008 - 2012),185,0
3,8.60E+11,85,971,57.0,4/1/2021,Amazon,2451,Parry Gripp,Parry Gripp,The Girl at the Videogame Store,Parry Gripp Mega-Party (2008 - 2012),185,0
4,8.60E+11,85,971,67.0,3/1/2021,Amazon,3844,Bear McCreary,"Madison Gate Records, Inc.",The Marriage Contract,"Outlander: Season 1, Vol. 1 (Original Televisi...",113,0

In [7]:
mlc_df= mlc_df.rename({mlc_df.columns[-1]: 'Songwriters'}, axis=1)

In [8]:
mlc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0    ISRC                         98240 non-null   object
 1   Country Code                  98303 non-null   object
 2   Registrant Code               98303 non-null   object
 3   Year of Reference             98239 non-null   float64
 4   Usage Period                  91898 non-null   object
 5   Streaming Platform (DSP)      96001 non-null   object
 6   Streams                       100000 non-null  int64
 7   Recording Artist              100000 non-null  object
 8   Recording Label               98992 non-null   object
 9   Recording Title               100000 non-null  object
 10  Release Title                 99931 non-null   object
 11  Recording Duration (Seconds)  100000 non-null  int64
 12  Songwriters                   100000 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 9.9+ MB

In [9]:
#count missing songwriters
sum(mlc_df.Songwriters == 0)

45839

In [10]:
#count rows with songwriters
sum(mlc_df.Songwriters == 1)

54161

In [11]:
#count number of duplicate values
print(mlc_df.duplicated().value_counts())

False    99451
True       549
dtype: int64

In [12]:
#You can use duplicated() and the negation operator ~ to remove duplicate rows.
mlc_df_new = mlc_df[~mlc_df.duplicated()]

In [13]:
mlc_df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 99451 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0    ISRC                         97701 non-null  object
 1   Country Code                  97764 non-null  object
 2   Registrant Code               97764 non-null  object
 3   Year of Reference             97700 non-null  float64
 4   Usage Period                  91349 non-null  object
 5   Streaming Platform (DSP)      95452 non-null  object
 6   Streams                       99451 non-null  int64
 7   Recording Artist              99451 non-null  object
 8   Recording Label               98444 non-null  object
 9   Recording Title               99451 non-null  object
 10  Release Title                 99382 non-null  object
 11  Recording Duration (Seconds)  99451 non-null  int64
 12  Songwriters                   99451 non-null  int64
dtypes: float64(1), int64(3), object(9)
memory usage: 10.6+ MB

In [14]:
#avg number of streams for each platform
df_streams_avg = mlc_df_new.groupby(["Streaming Platform (DSP)"]).Streams.mean().reset_index()
print(df_streams_avg)

   Streaming Platform (DSP)       Streams
0                    Amazon  10441.229776
1                   Anghami    753.956522
2                     Apple  72459.358059
3                 AudioMack  21802.834545
4        Classical Archives     10.000000
5                    Deezer   1722.156863
6                 Fan Label     22.750000
7                       GTL   1249.462439
8                 LiveXLive    506.535000
9                   Melodyv   6476.306295
10             Midwest Tape    840.274510
11                 MixCloud    665.250000
12                MonkingMe   3549.000000
13                  NugsNet    351.333333
14                Pacemaker    569.000000
15                  Pandora  63548.230534
16               PowerMusic    394.250000
17                    Qoboz     63.663462
18                  Recisio      1.318182
19              Smithsonian      9.904762
20                    Sonos   1365.304348
21               SoundCloud  78629.932547
22                  Spotify  79231.969481
23                    Tidal  13867.283642
24                   Trebel    182.799266
25          Ultimate Guitar     16.263158
26                Wolfgangs    241.250000
27                  YouTube  57509.780852
28             iHeart Radio   3029.644979

In [15]:
#total number of streams for each platform
df_streams_sum = mlc_df_new.groupby(["Streaming Platform (DSP)"]).Streams.sum().reset_index()
print(df_streams_sum)

   Streaming Platform (DSP)     Streams
0                    Amazon   149591499
1                   Anghami       34682
2                     Apple  1599105573
3                 AudioMack    11991559
4        Classical Archives          20
5                    Deezer       87830
6                 Fan Label          91
7                       GTL     1280699
8                 LiveXLive      101307
9                   Melodyv     5349429
10             Midwest Tape       85708
11                 MixCloud        2661
12                MonkingMe        3549
13                  NugsNet      110670
14                Pacemaker        1707
15                  Pandora   873279784
16               PowerMusic        3154
17                    Qoboz        6621
18                  Recisio          29
19              Smithsonian         208
20                    Sonos       31402
21               SoundCloud   166695457
22                  Spotify  2541603117
23                    Tidal    48743502
24                   Trebel      149347
25          Ultimate Guitar         309
26                Wolfgangs         965
27                  YouTube   157979368
28             iHeart Radio     2141959

In [19]:
#command to access a different notebook
%run genres.ipynb