In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline
mlc_df=pd.read_csv('../data/MLC_Data_Sample.csv')
mlc_df.head()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
0,1.94923E+11,19,492,33.0,1/1/2021,Spotify,"13,620",MARINA,Atlantic Records,Man's World,Man's World (MUNA Remix),209,1
1,1.95757E+11,19,575,70.0,5/1/2021,Pandora,"12,160",Chris Webby,EightyHD,Quarantine (Freeverse),Quarantine (Freeverse),160,1
2,8.59716E+11,85,971,57.0,4/1/2021,Amazon,"2,451",Parry Gripp,Parry Gripp,The Girl at the Videogame Store,Parry Gripp Mega-Party (2008 - 2012),185,0
3,8.59716E+11,85,971,57.0,4/1/2021,Amazon,"2,451",Parry Gripp,Parry Gripp,The Girl at the Videogame Store,Parry Gripp Mega-Party (2008 - 2012),185,0
4,8.59717E+11,85,971,67.0,3/1/2021,Spotify,"69,876",Pacey Carroll,Pacey Carroll,The Frog and the Panda Bear,The Frog and the Panda Bear,88,0

In [2]:
#First 14 rows are in scientific notation. Looking to see how far down this goes.After running this code, it appears to be with
#earlier years. The latest year for this is 1967 and the earliest is 1933. 
mlc_df.head(15)

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
0,1.94923E+11,19,492,33.0,1/1/2021,Spotify,"13,620",MARINA,Atlantic Records,Man's World,Man's World (MUNA Remix),209,1
1,1.95757E+11,19,575,70.0,5/1/2021,Pandora,"12,160",Chris Webby,EightyHD,Quarantine (Freeverse),Quarantine (Freeverse),160,1
2,8.59716E+11,85,971,57.0,4/1/2021,Amazon,"2,451",Parry Gripp,Parry Gripp,The Girl at the Videogame Store,Parry Gripp Mega-Party (2008 - 2012),185,0
3,8.59716E+11,85,971,57.0,4/1/2021,Amazon,"2,451",Parry Gripp,Parry Gripp,The Girl at the Videogame Store,Parry Gripp Mega-Party (2008 - 2012),185,0
4,8.59717E+11,85,971,67.0,3/1/2021,Spotify,"69,876",Pacey Carroll,Pacey Carroll,The Frog and the Panda Bear,The Frog and the Panda Bear,88,0
5,8.59717E+11,85,971,67.0,5/1/2021,Spotify,"33,625","Ganja White Night,SubDocta",SubCarbon,The Green Lab,Dark Wobble,322,1
6,8.59717E+11,85,971,67.0,3/1/2021,Amazon,"3,844",Bear McCreary,"Madison Gate Records, Inc.",The Marriage Contract,"Outlander: Season 1, Vol. 1 (Original Televisi...",113,0
7,8.59717E+11,85,971,67.0,4/1/2021,Amazon,"10,013",Various artists,Cobra Entertainment LLC,"The Marriage of Figaro, K. 92: Cherubins Song ...",100 Must-Have Lullaby Baby Classics,164,1
8,8.59717E+11,85,971,67.0,3/1/2021,Apple,"170,659",Leat'eq,672237 Records DK,Tokyo,Tokyo - Single,174,1
9,8.59717E+11,85,971,67.0,3/1/2021,Amazon,"6,926",Queen Naija,Capitol Records,Too Much To Say,missunderstood,153,0
10,8.59717E+11,85,971,67.0,3/1/2021,Spotify,"8,681",347aidan,347RECORDS,Torpedo,Good Vs Evil,153,1
11,8.59717E+11,85,971,67.0,4/1/2021,Spotify,"23,284",Parry Gripp,Parry Gripp,Tortoise Playing Minecraft,Tortoise Playing Minecraft,133,0
12,8.59717E+11,85,971,67.0,4/1/2021,Apple,"64,980",Greta Van Fleet,Republic Records,Trip the Light Fantastic,The Battle at Garden’s Gate,273,1
13,8.59726E+11,85,972,64.0,4/1/2021,Pandora,"6,474",Spunkshine,Academy of Fists,Smoked,And Yet It Moves,515,0
14,AEA0D1846140,AE,A0D,18.0,2/1/2021,Spotify,"43,700",Abtmelody,Abtmelody,Fallen Kingdom,Minecraft Mix,246,1

In [3]:
mlc_df.tail()

,ISRC,Country Code,Registrant Code,Year of Reference,Usage Period,Streaming Platform (DSP),Streams,Recording Artist,Recording Label,Recording Title,Release Title,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
99995,NaN,NaN,NaN,NaN,3/1/2021,Pandora,"14,912",Lil Durk,Alamo (Geffen Records),Switched Up,The Voice,140,0
99996,NaN,NaN,NaN,NaN,3/1/2021,Amazon,"1,331",Nipsey Hussle,Howie McDuffie Music Group,Tha Mansion,The Marahton Continues,166,0
99997,NaN,NaN,NaN,NaN,5/1/2021,Apple,"19,567",Phora,Phora LLC,the art of letting go (feat. Destiny Rogers),Heartbreak Hotel,146,0
99998,NaN,NaN,NaN,NaN,3/1/2021,Apple,"47,412",Lil Migo,Plug Brudaz Ent,The Bank Neva Closed,Voice of the Trap,200,1
99999,NaN,NaN,NaN,NaN,5/1/2021,Pandora,"3,206",Seamus Kennedy,Gransha Records,The Barley Mow,By Popular Demand,399,0

In [4]:
mlc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 13 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   ISRC                                       98240 non-null   object
 1   Country Code                               98303 non-null   object
 2   Registrant Code                            98303 non-null   object
 3   Year of Reference                          98239 non-null   float64
 4   Usage Period                               91898 non-null   object
 5   Streaming Platform (DSP)                   96001 non-null   object
 6   Streams                                    100000 non-null  object
 7   Recording Artist                           100000 non-null  object
 8   Recording Label                            98992 non-null   object
 9   Recording Title                            100000 non-null  object
 10  Release Title                              99931 non-null   object
 11  Recording Duration (Seconds)               100000 non-null  int64
 12  Songwriter's Listed (1 = "Yes", 0 = "No")  100000 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 9.9+ MB

In [8]:
#Checking the amount of null values for each column
mlc_df.isnull().sum()

ISRC                                         1760
Country Code                                 1697
Registrant Code                              1697
Year of Reference                            1761
Usage Period                                 8102
Streaming Platform (DSP)                     3999
Streams                                         0
Recording Artist                                0
Recording Label                              1008
Recording Title                                 0
Release Title                                  69
Recording Duration (Seconds)                    0
Songwriter's Listed (1 = "Yes", 0 = "No")       0
dtype: int64

In [9]:
mlc_df.describe()

,Year of Reference,Recording Duration (Seconds),"Songwriter's Listed (1 = ""Yes"", 0 = ""No"")"
count,98239.000000,100000.000000,100000.000000
mean,19.671933,1016.893690,0.541610
std,12.638870,15565.692133,0.498268
min,0.000000,0.000000,0.000000
25%,17.000000,149.000000,0.000000
50%,19.000000,190.000000,1.000000
75%,20.000000,236.000000,1.000000
max,99.000000,818738.000000,1.000000

In [10]:
#Checking on how many rows of our unique column are actually unique
mlc_df.ISRC.nunique()

54621

In [11]:
mlc_df['Recording Duration (Seconds)'].max()

818738

In [12]:
mlc_df['Recording Duration (Seconds)'].min()

0

Recording min and max times seem strange